body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background-image {
    /* Your background image styling */
background-image: url('patient_image.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.container {
    padding: 20px;
}

header {
    text-align: center;
    margin-top: 100px;
}

h1 {
    margin: 0;
    color: white;
}

.signup-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="tel"],
input[type="password"],
select,
button {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.options {
    margin-top: 10px;
    text-align: center;
}
