body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background-image {
    background-image: url('med.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    padding: 20px;
}

header {
    text-align: center;
    margin-top: 100px; /* Adjust as needed */
}

h1 {
    margin: 0;
    color: white;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    margin: 0 auto; /* Center the form horizontally */
}

input[type="text"],
input[type="password"],
button {
    width: calc(100% - 20px); 
    margin-bottom: 10px;
    padding-right: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #007bff; /* Blue button */
    color: white;
    cursor: pointer;
}

.options {
    margin-top: 10px;
    text-align: center;
}
